*{
  font-family: sans-serif;
}

.btn-back {
  display: inline-block;
  background: #d91111;
  background-image: -webkit-linear-gradient(top, #d91111, #94102b);
  background-image: -moz-linear-gradient(top, #d91111, #94102b);
  background-image: -ms-linear-gradient(top, #d91111, #94102b);
  background-image: -o-linear-gradient(top, #d91111, #94102b);
  background-image: linear-gradient(to bottom, #d91111, #94102b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
}

.btn-back:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
